@import '../../variables';

.testresult-area {
    padding: $header-height 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .testresult-contents {
        width: 60%;
        text-align: center;

        .testresult-main-ment {
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }

        .testresult-mytype {
            padding-top: $padding;
            font-weight: 700;
            font-size: 2.6rem;
            letter-spacing: 0.6rem;
        }

        .testresult-ment {
            padding-top: $padding * 1.2;
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: 4px;
        }
        

        .testresult-img-area {
            padding-top: $padding*1.4;
            display: flex;
            justify-content: center;

            .testresult-img {
                width: 60%;
                height: 360px;

                .testresult-img-box{
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                }
            }
        }

        .testresult-comment {
            padding-top: $padding;
            font-weight: 700;
            font-size: 0.9rem;
        }

        .testresult-btn-area {
            padding-top: $padding * 1.4;

            .testresult-btn {
                background-color: #f1f3f5;
                padding: $padding*1.4 0;
                border-radius: 8px;
                font-size: 1.2rem;
                width: 200px;
            }
        }
    }
}